.formulario {
    background-color:#fa589341 ;
    display: flex;
    flex-direction: column;
    padding: 3rem 1rem;
}

.input-nome {
    width: 85vw;
    height: 40px;
    border: none;
    border-radius: .5rem;
    outline: none;
    padding: 0px 5px;
}

.data-hora {
    width: 30vw;
    height: 30px;
    border: none;
    outline: none;
    padding: 0px 6px;
    border-radius: .5rem;
}


#servicos {
    display: grid;
    grid-template-columns: 1fr 1fr;
}